.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  margin: 0 auto;
  padding: 28px 48px 56px;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-zone {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.header__lang-item {
  margin-right: 18px;
}

.header__lang-item:last-of-type {
  margin-right: 0;
}

.header__lang-link {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header__lang-link:hover {
  opacity: 0.3;
}


.header__lang-link_selected {
  text-decoration: underline;
}

.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  color: white;
  margin: 0 auto;
  padding: 0 148px;
  text-align: center;

}

.lead__title {
  padding: 0;
  margin: 0 auto;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  font-style: normal;

}

.lead__subtitle {
  padding: 0;
  margin: 32px auto 64px;
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  font-style: normal;

}

.lead__caption {
  padding: 0;
  margin: 8px 0 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  font-style: normal;
  align-self: start;
  letter-spacing: 0.15em;
}

.intro {
  margin: 0 auto;
  padding: 92px 0;
  color: white;
  max-width: 984px;
}

.intro__title {
  max-width: 690px;
  padding: 0;
  margin: 0;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
}

.intro__text {
  max-width: 690px;
  padding: 0;
  margin: 40px 0 33px;
  font-size: 16px;
  line-height: 163%;
  font-weight: normal;
  font-style: normal;
}

.intro__list {
  list-style: none;
  max-width: 690px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  font-style: normal;
}

.intro__list-number {
  font-weight: normal;
}

.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
}

.photo-grid__items {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: 1fr;
}

.photo-grid__item {
 max-width: 100%;
}

.places {
  padding: 52px 0;
  margin: 0 auto;
  color: white;
  max-width: 984px;
}

.place {
  padding: 40px 0;
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 460px 1fr;
}

.place__title {
  padding: 0;
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  font-style: normal;
}

.place__website {
  align-self: end;
}

.place__url-heading {
  color: #AAAAAA;
  padding: 0;
  margin: 0 0 12px;
  font-size: 12px;
  line-height: 170%;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.2em;
}

.place__link {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  transition: opacity 0.3s ease;
}

.place__link:hover {
  opacity: 0.3;
}

.place__image {
  width: 100%;
}

.place__paragraphs {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 163%;
  font-weight: normal;
  font-style: normal;
}

.place__paragraph {
  padding: 0;
  margin: 0 0 26px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

.cover {
  margin: 0 auto;
  padding: 0;
  max-width: 1184px;
  height: 740px;
  text-align: center;
}

.cover__link {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
}

.cover__link:before {
  content: "";
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.cover__link:hover::before {
  opacity: 0.3;
}

.cover__title {
  max-width: 560px;
  padding: 0;
  margin: 0 auto 32px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  font-style: normal;
}

.cover__subtitle {
  max-width: 360px;
  padding: 0;
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
}

.footer {
  padding: 92px 48px 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer__link-zone {
padding: 0;
margin: 0;
max-width: 1184px;
  list-style: none;
  display: flex;
}

.footer__link-item {
  margin-right: 18px;
}

.footer__link-item:last-of-type {
  margin-right: 0;
}

.footer__link {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: white;
  transition: opacity 0.3s ease;
}

.footer__link:hover {
  opacity: 0.3;
}

.footer__copyright {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    min-width: 928px;
    padding-bottom: 48px;
  }

  .lead {
    max-width: 928px;
    padding: 0 48px;
  }

  .lead__subtitle {
    margin: 32px auto 56px;
  }

  .intro {
    max-width: 928px;
  }

  .photo-grid {
    margin: 0 auto;
    max-width: 928px;
  }

  .photo-grid__items {
    grid-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .places {
    max-width: 928px;
  }

  .place {
    gap: 48px 32px;
    grid-template-columns: 440px 1fr;
  }

  .cover {
    max-width: 1024px;
    height: 640px;
  }

  .footer__link-zone {
    max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 28px 24px 48px;
    min-width: 720px;
  }

  .lead {
    min-width: 768px;
    padding: 0;
  }

  .lead__title {
    padding: 0 24px;
  }

  .lead__subtitle {
    margin: 32px auto 56px;
  }

  .lead__caption {
    padding-left: 24px;
  }

  .intro {
    margin: 0;
    padding: 88px 24px;
    color: white;
    max-width: 720px;
  }

  .intro__title {
    max-width: 720px;
  }

  .intro__text {
    max-width: 720px;
  }

  .intro__list {
    max-width: 720px;
  }

  .photo-grid {
    margin: 0 auto;
    max-width: 720px;
  }

  .photo-grid__items {
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
  }

  .places {
    max-width: 720px;
  }

  .place {
    padding: 36px 0;

    gap: 48px 28px;
    grid-template-columns: 340px 1fr;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__url-heading {
    line-height: 12px;
  }

  .place__paragraphs {
    font-size: 16px;
  }

  .place__paragraph {
    margin: 0 0 25px;
  }

  .cover {
    min-width: 768px;
    height: 480px;
  }

  .footer {
    padding: 88px 24px 24px;
  }

  .footer__link-zone {
  max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 48px;
    min-width: 288px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .lead {
    min-width: 320px;
    padding: 0;
  }

  .lead__title {
    min-width: 288px;
    padding: 0 16px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    min-width: 288px;
    margin: 16px auto 40px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 20px;
  }

  .lead__caption {
    padding-left: 16px;
  }

  .intro {
    margin: 0;
    padding: 64px 16px;
    color: white;
    min-width: 288px;
  }

  .intro__title {
    min-width: 288px;
      font-size: 32px;
      line-height: 35px;
  }

  .intro__text {
    min-width: 288px;
  }

  .intro__list {
    min-width: 288px;
  }

  .photo-grid {
    padding: 0 16px;
    margin: 0 auto;
    min-width: 288px;
  }

  .photo-grid__items {
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }

  .places {
    max-width: 320px;
    padding: 42px 0;
  }

  .place {
    padding: 25px 0;
    gap: 32px;
    grid-template-columns: minmax(288px, 1fr);
  }

  .place__title {
    padding-left: 16px;
    font-size: 32px;
    line-height: 35px;
  }

  .place__website {
    padding-left: 16px;
  }

  .place__paragraphs {
    padding: 0 16px;
  }

  .cover {
    min-width: 320px;
    height: 200px;
  }

  .cover__title {
    margin: 0 auto 16px;
    min-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    min-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }

  .footer {
    padding: 64px 118px 24px 16px;
    flex-direction: column;
  }

  .footer__link-zone {
    flex-direction: column;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }

  .footer__copyright {
    line-height: 14px;
  }

  .footer__link-item {
    margin-right: 0px;
    margin-bottom: 32px;
  }

  .footer__link-item:last-of-type {
    margin-bottom: 48px;
  }
}






